.sosmed {
  padding: 50px 28px;
  margin-left: 5px;
}
.back {
  margin-top: 8px;
  position:absolute;
  margin-left: 5px;
}
.friend {
  padding:50px 50px;
  position:absolute;
  margin-left: 5px;
}
.school {
  padding:50px 50px;
  position:absolute;
  margin-left: 155px;
}
.output {
  position: absolute;
  top: 200px;
}
.tOutput {
  position: absolute;
  margin-top: 50px;
  border: 10px solid black;
  border-collapse: collapse;
  background-color: black ;
  width: 50%;
}
.h2-dinamis {
  position: absolute;
  top :5px;
}